<div class="row text-center">
  <div class="col-sm-6" >
    <div class="thumbnail">
      <h3><p>Coding Guideline</p></h3>
      <%= image_tag '1.jpg' ,alt: "coding guild", width: 150, height: 150 %>
      <p><div  style="border: 1px solid; background-color:#00001a; height:150px"></p>
      <p><h5><font color="white">Tool Name</h5></font></p>
      <% @selectQpCoding.reverse.each do |post| %>      
      <h5><p><span class="label selectbox"><%= post.toolname %></span></p></h5>
      <% end %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="thumbnail">
      <h3><p>Unit Test&Coverage</p></h3>
      <%= image_tag '7.jpg' ,alt: "coding guild", width: 150, height: 150 %>
      <p><div  style="border: 1px solid; background-color:#00001a; height:150px"></p>
      <p><h5><font color="white">Tool Name</h5></font></p>
      <% @selectQpUnit.reverse.each do |post| %>      
      <h5><p><span class="label selectbox"><%= post.toolname %></span></p></h5>
      <% end %>
      </div>
    </div>
  </div>
  

  <div class="col-sm-6">
    <div class="thumbnail">
      <h3><p>Static Analystics</p></h3>
      <%= image_tag '1.jpg' ,alt: "coding guild", width: 150, height: 150 %>
      <p><div  style="border: 1px solid; background-color:#00001a; height:150px"></p>
      <p><h5><font color="white">Tool Name</h5></font></p>
      <% @selectQpStatic.reverse.each do |post| %>      
      <h5><p><span class="label selectbox"><%= post.toolname %></span></p></h5>
      <% end %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6">
    <div class="thumbnail">
      <h3><p>Cyclomatic Complexity></p></h3>
      <%= image_tag '1.jpg' ,alt: "coding guild", width: 150, height: 150 %>
      <p><div  style="border: 1px solid; background-color:#00001a; height:150px"></p>
      <p><h5><font color="white">Tool Name</h5></font></p>
      <% @selectQpcyclomatic.reverse.each do |post| %>      
      <h5><p><span class="label selectbox"><%= post.toolname %></span></p></h5>
      <% end %>
      </div>
    </div>
  </div>
</div>


