 <%= render :partial => "quality/header" %>

<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

   <form class="form-horizontal" role="form" action="/quality/edit_complete" method="post">
     <input type="hidden" name="id" value="<%= @post.id %>">
     <div class="form-group">
     <label class="control-label col-sm-1"></label>
     <div class="col-sm-9 well well-sm text-center page-header">
     <h3>QP Measure Tool Edit</h3>
     <h3><p><small>코드 품질측정에 사용할수 있는 툴 수정</small></p></h3>
     </div>
     </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="category">Category *</label>
      <div class="col-sm-6">
      <%= select_tag 'post_category', options_for_select(
       {'Coding Guideline' => 'Coding Guideline', 'Unit Test&Coverage' => 'Unit Test&Coverage', 'Static Analystics' => 'Static Analystics', 'Cyclomatic Complexity' => 'Cyclomatic Complexity' }, @post.quality_practice), {:class => "form-control selectpicker show-tick show-menu-arrow" }  %>

        <script>
        $('select[name=post_buyneed]').val(1);
        $('.selectpicker').selectpicker('refresh')
        </script>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="toolname">Tool Name *</label>
      <div class="col-sm-6"> 
      <input class="form-control" type="text" name="post_tool"  value="<%= @post.toolname %>">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">용도</label>
      <div class="col-sm-6">
      <input class="form-control" name="post_title" value="<%= @post.title %>">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="language">지원언어 *</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" name="post_language[]"  value="<%= @post.support_language.delete('[],"') %>">
     </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="os">지원OS *</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" name="post_os[]"  value="<%= @post.support_os.delete('[],"') %>">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="buyneed">구매필요여부 *</label>
      <div class="col-sm-6">
      <%= select_tag 'post_buyneed', options_for_select(
       {'오픈소스' => '오픈소스', '사내개발' => '사내개발', '상용' => '상용'}, @post.buy_need), {class: "form-control selectpicker"}  %>
        <script>
        $('select[name=post_buyneed]').val(1);
        $('.selectpicker').selectpicker('refresh')
        </script>
      </div>
   </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="version">Java8지원버전</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" name="post_version"  value="<%= @post.support_javaversion %>">
      </div>
   </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="url">URL</label>
      <div class="col-sm-6">
      <input class="form-control" type="text" name="post_url" value="<%= @post.urlname %>">
      </div>
   </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="submit"></label>
      <div class="col-sm-6">
      <input class="btn background-normal btn-lg btn-block" type="submit" value="Edit">
      </div>
   </div>
  </form>
   </div>
    <div class="col-sm-4">
    </div>


