<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3>Quality Tool 수정하기</h3>

      <form action="/quality/edit_complete" method="post">
        <input type="hidden" name="id" value="<%= @post.id %>">
        <p>+ 분류 
        <select name="post_category">
          <option value="Coding Guideline">Coding Guideline</option>
          <option value="Unit Test&Coverage">Unit Test&Coverage</option>
          <option value="Static Analystics">Static Analystics</option>
          <option value="Cyclomatic Complexity">Cyclomatic Complexity</option>
          </select></p>
          <p>도구명: <input class="form-input" type="text" name="post_tool" value="<%= @post.toolname %>"></p>
          <p>용도: <textarea class="form-textarea" name="post_title" ><%= @post.title %></textarea></p>
          <p>지원언어: <input class="form-input" type="text" name="post_language" value="<%= @post.support_language %>"></p>
          <p>지원OS: <input class="form-input" type="text" name="post_os" value="<%= @post.support_os %>"></p>
          <p>구매필요여부:
          <select name="post_buyneed">
            <option value="오픈소스">오픈소스</option>
            <option value="사내개발">사내개발</option>
            <option value="상용">상용</option>
          </select></p>
          <p>Java8 지원버전: <input class="form-input" type="text" name="post_version" value="<%= @post.support_javaversion %>"></p>
          <p>URL: <input class="form-input" type="text" name="post_url"  value="<%= @post.urlname %>"></p>
          <input class="btn btn-lg btn-block" type="submit" value="수정하기">
        </form>
     </div>
     <div class="col-md-4">
     </div>
   </div>
</div>

