<%= render :partial => "quality/header" %>

<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

   <div class="form-group">
     <label class="control-label col-sm-1"></label>
     <div class="well well-sm text-center">
     <h3>QP Measure TOOL Detail</h3>
     <h3><p><small>코드 품질측정 툴 상세보기</small></p></h3>
     </div>
   </div>

   <div class="col-sm-12 text-center">
     <p><img src="<%= @post.image_url(:thumb) %>" class="img-rounded"></p>
   </div>


   <div class="col-sm-12 text-center">
     <span class="badge badge-info"><font size="3">Category</font></span>
     <h4><strong><%= @post.quality_practice %></strong></h4>
     <span class="badge badge-info"><font size="3">Tool Name</font></span>
     <h4><strong><%= @post.toolname %></strong></h4>
     <span class="badge badge-info"><font size="3">용도</font></span>
     <h5><strong><%= @post.title %></strong></h5>
     <span class="badge badge-info">지원언어</span>
     <h4><strong><%= @post.support_language.delete('[],"') %></strong></h4>
     <span class="badge badge-info">지원OS</span>
     <h4><strong><%= @post.support_os.delete('[],"') %></strong></h5>
     <span class="badge badge-info">구매필요여부</span>
     <h5><strong><%= @post.buy_need %></strong></h5>
     <span class="badge badge-info">Java8지원버전</span>
     <h4><strong><%= @post.support_javaversion %></strong></h4>
     <span class="badge badge-info">URL</span>
     <h4><strong><%= @post.urlname %></strong></h4>

     <div class="btn btn-button-modify btn-sm"><a href="/quality/edit/<%= @post.id %>">
      <button type="button" >수정</button></a></div>
     <div class="btn btn-button-modify btn-sm"><a href="/quality/delete_complete/<%= @post.id %>" data-confirm="정말 삭제하시겠습니까?">
      <button type="button">삭제</button></a></div>
     </div>
  </div>
</div>

